{{define "container/container_footer.html"}}
<footer class="bg-white border-t border-gray-200">
    <div class="container mx-auto px-4 py-6">
        <div class="flex items-center justify-between text-sm text-gray-600">
            <div class="flex items-center gap-2">
                <svg class="w-4 h-4 text-gray-600" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9"/></svg>
                <span id="brandFooterText">LXD API 容器管理平台</span>
            </div>
            <div class="flex items-center gap-4">
                <span>Version {{.Version}}</span>
            </div>
        </div>
    </div>
</footer>
{{end}}